.container {
  width: min(100%, 768px);
  margin: 0 auto;
  padding: 48px min(24px, 4dvw);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article {
  width: 100%;
  display: grid;
  position: relative;
  align-items: flex-start;
  grid-template-columns: auto 1fr;
}

.h2Container {
  transform: rotate(180deg);
  align-items: flex-end;
  display: flex;
}

.h2 {
  font-size: min(3.6rem, 7.5dvw);
  writing-mode: vertical-rl;
  color: #51c2bc;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.date {
  font-size: 1.2rem;
}

.title {
  font-size: 1.5rem;
  display: inline;
}

.favicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 4px;
  vertical-align: middle;
  background: #242426;
}
