@use "sass:map";
@import "styles/breakpoints";
@import "styles/constants";
@import "sass-mq";

.list {
  display: grid;
  @include mq($until: tablet) {
    gap: 16px;
  }
  @include mq($from: tablet) {
    gap: 24px;
  }
}

.dateWrapper {
  color: map.get($colors, gray);
  font-size: 1.1rem;
  font-weight: 900;
}

.anchor {
  text-decoration: underline;
}

.iconWrapper {
  display: flex;
  justify-content: flex-end;
  @include mq($until: tablet) {
    padding: 16px 0 0;
  }
  @include mq($from: tablet) {
    padding: 24px 0 0;
  }
}
