.container {
  width: min(100%, 768px);
  margin: 0 auto;
  padding: 48px min(24px, 4dvw);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

.p {
  font-size: 1.6rem;
  text-align: center;
}
