$colors: (
  black: #2a292e,
  lightgray: #403f43,
  gray: #808080,
  white: #fff,
);
$fonts: (
  black-ops-one: "Black Ops One",
  caveat: "Caveat",
  default: (
    游ゴシック medium,
    yugothic,
    yugothicm,
    hiragino kaku gothic pron,
    hiragino kaku gothic pro,
    メイリオ,
    meiryo,
    sans-serif,
  ),
);
