.container {
  width: min(100%, 1024px);
  margin: 0 auto;
  padding: 48px min(24px, 4dvw);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.article {
  width: min(100%, 1024px);
  margin: 0 auto;
  display: grid;
  z-index: 2;
  position: relative;
  align-items: flex-start;
  grid-template-columns: auto 1fr;
}

.h2Container {
  transform: rotate(180deg);
  align-items: flex-end;
  display: flex;
}

.h2 {
  font-size: min(3.6rem, 7.5dvw);
  writing-mode: vertical-rl;
  color: #51c2bc;
}

.swiperContainer {
  display: grid;
  width: 100%;
  gap: 2px;

  .swiper,
  .thumbsSwiper {
    width: 100%;
  }

  .swiper :global(.swiper-slide-active),
  .thumbsSwiper :global(.swiper-slide-thumb-active) {
    opacity: 1;
  }

  .thumbsSwiper {
    @media (width < 768px) {
      display: none;
    }
  }

  .imageContainer,
  .iframeContainer {
    aspect-ratio: 16 / 9;
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .iframe {
    height: 100% !important;
    width: 100% !important;
    vertical-align: top;
  }

  .image {
    object-fit: cover;
  }

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  :global(.swiper-slide) {
    opacity: 0.25;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2px;

  .imageContainer {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;

    @media (width < 768px) {
      aspect-ratio: 16 / 9;
    }
  }

  .image {
    object-fit: cover;
  }
}

.lightbox :global(.yarl__container) {
  background: rgba(17, 17, 17, 0.9);
  backdrop-filter: blur(1px);
}
