.container {
  width: min(100%, 720px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.worksContainer {
  display: grid;
  gap: 2px;
}

.iframeContainer {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
}

.iframe {
  width: 100%;
  height: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2px;
}

.item {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  position: relative;

  @media (width < 768px) {
    aspect-ratio: 16 / 9;
  }
}

.image {
  object-fit: cover;
}

.viewMoreContainer {
  display: flex;
  justify-content: flex-end;
}

.viewMore {
  background: #501a28;
  border: 2px solid #ff517d;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 16px;
  height: 16px;
}
