.container {
  width: min(100%, 768px);
  margin: 0 auto;
  padding: 48px min(24px, 4dvw);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.article {
  width: 100%;
  display: grid;
  position: relative;
  align-items: flex-start;
  grid-template-columns: auto 1fr;
}

.h2Container {
  transform: rotate(180deg);
  align-items: flex-end;
  display: flex;
}

.h2 {
  font-size: min(3.6rem, 7.5dvw);
  writing-mode: vertical-rl;
  color: #51c2bc;
}

.article[article-data="menu"] {
  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .title {
    font-size: 1.5rem;
  }

  .divider {
    flex-grow: 1;
    border-bottom: 1px dashed #fff;
  }

  .value {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.article[article-data="sample"] {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2px;
  }

  .imageContainer {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    background: #242426;

    @media (width < 768px) {
      aspect-ratio: 16 / 9;
    }
  }

  .image {
    object-fit: contain;

    @media (width < 768px) {
      object-fit: cover;
    }
  }
}

.article[article-data="about"] {
  .about {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .content {
    font-size: 1.2rem;
  }
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
}

.link {
  background: #501a28;
  border: 2px solid #ff517d;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 16px;
  height: 16px;
}

.lightbox :global(.yarl__container) {
  background: rgba(17, 17, 17, 0.9);
  backdrop-filter: blur(1px);
}
