.wrapper {
  padding: 0 0 40px;
  width: 100%;
}

.iframeWrapper {
  position: relative;
}

.iframeWrapper::before {
  content: "";
  display: block;
  padding: 56.25% 0 0;
}

.iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
